<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".Library"
        android:allowBackup="true"
        android:fullBackupContent="@xml/auto_backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name=".layout.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".layout.library.jetpack.JetPackMainActivity"
            android:exported="true" />
        <activity
            android:name=".layout.library.jetpack.CameraXActivity"
            android:exported="true" />
        <activity
            android:name=".layout.library.jetpack.FingerBiometricActivity"
            android:exported="true" />
        <activity
            android:name=".layout.library.jetpack.DataStoreActivity"
            android:exported="true" />
        <activity
            android:name=".layout.library.jetpack.LifeCycleActivity"
            android:exported="true" />
        <activity
            android:name=".layout.library.jetpack.LiveDataAndDataBindingActivity"
            android:exported="true" />
        <activity
            android:name=".layout.library.jetpack.ThreadActivity"
            android:exported="true" />
        <activity
            android:name=".layout.library.jetpack.ViewBindingActivity"
            android:exported="true" />
        <activity
            android:name=".layout.library.RxJavaActivity"
            android:exported="true" />
        <activity
            android:name=".layout.library.SQLiteActivity"
            android:exported="true" />
        <activity
            android:name=".layout.library.RetrofitActivity"
            android:exported="true" />
        <activity
            android:name=".layout.library.DaggerActivity"
            android:exported="true" />
        <activity
            android:name=".layout.media.StorageAndMediaActivity"
            android:exported="true" />
        <activity
            android:name=".layout.media.VideoPlayerActivity"
            android:exported="true" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_provider_path" />
        </provider>
    </application>

</manifest>